<div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1>Bienvenue à BAKELI SI!</h1>
        </div>
      </div>
    </div>


    <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
  >
